*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    font-size: 1rem;
    background-color: hsl(0 0 10);

    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    background-color: hsl(240 10 5);
    border-radius: 10px;
    box-shadow: 0 0 10px;
    overflow: hidden;
    padding: 8px;
    width: 280px;   

    display: flex;
    flex-direction: column;
    gap: 20px;
}

.operation-display {
    color: hsl(0 0 98);
    background-color: hsl(0 0 10);
    border-bottom: hsl(0 0 10);
    border-radius: 10px 10px 0 0;
    padding: 10px;
    height: 100px;
}

input {
    color: hsl(0 0 98);
    text-align: right;
    background-color: hsl(0 0 10);
    font-size: 24px;
    border: none;
    width: 100%;
}

input:focus {
    outline: none;
}

.clear-buttons {
    display: flex;
    gap: 8px;
}

.clear-buttons button {
    flex: 1; 
    font-size: 1rem;
    color: white;
    padding: 0.4em;
    border: none;
    border-radius: 10px;
}

.clear {
    background-color: hsl(0 100 35);
}

.backspace {
    background-color: hsl(0 2 10)
}

.num-and-operators {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    gap: 8px;
}

.operators {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

button {
    font-size: 18px;
    background-color: hsl(0 2 10);
    border: none;
    border-radius: 50%;
    padding: 1rem 1.3rem;
}

.numbers button {
    color: #f9f9f9;
    font-weight: 600;
}

.operators button {
    color: hsl(120 100 50);
}

button.equal-sign {
    color: #f9f9f9;
    font-weight: 600;
    background-color: hsl(120 100 25);
}

