*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --bgcolor-buttons: hsl(0 2 10);
    --font-size: 1.3rem;
    --gap: 8px;
    --buttons-width: calc(var(--font-size) * 3);
    --calculator-width: calc(var(--buttons-width)*4 + var(--gap)*3);
}

body {
    margin: 0;
    padding: 0;
    height: 100vh;
    background-color: hsl(240 15 5);

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container {
    flex: 1 0 auto;
    border-radius: 10px;
    overflow: hidden;
    width: var(--calculator-width);

    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
}

.operation-display {
    color: hsl(0 0 98);
    border-radius: 10px;
    padding: 10px;
    height: 100px;
    background-color: var(--bgcolor-buttons);
}

input {
    color: hsl(0 0 98);
    text-align: right;
    background-color: transparent;
    font-size: 24px;
    border: none;
    width: 100%;
}

input:focus {
    outline: none;
}

.clear-buttons {
    display: flex;
    gap: var(--gap);
}

.clear-buttons button {
    flex: 1; 
    display: flex;
    justify-content: center;
    align-items: center;

    font-size: 1.3rem;
    font-weight: 600;
    color: white;
    padding: 0.4em;
    border: none;
    border-radius: 10px;
}

.clear {
    background-color: hsl(0 100 35);
}

.backspace {
    background-color: var(--bgcolor-buttons);
}

.backspace img {
    width: 1.3rem;
}

.num-and-operators {
    display: flex;
    align-items: flex-start;
    gap: var(--gap);
}

.numbers {
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);
}

.operators {
    display: flex;
    flex-direction: column;
    gap: var(--gap);
}

.num-and-operators button {
    font-size: var(--font-size);
    background-color: var(--bgcolor-buttons);
    border: none;
    border-radius: 50%;
    width: var(--buttons-width);
    height: var(--buttons-width);

    display: flex;
    justify-content: center;
    align-items: center;
}

.numbers button {
    color: #f9f9f9;
}

.operators button {
    color: hsl(120 100 50);
}

button.equal-sign {
    color: #f9f9f9;
    font-weight: 600;
    background-color: hsl(120 100 25);
}

.footer {
    width: var(--calculator-width);
    border: 1px solid var(--bgcolor-buttons);
    border-radius: 10px;
    padding: 0.5em;
    margin: 0.5em;
    text-align: center;
}

a {
    text-decoration: none;
    color: hsl(0 0 100);
}

